*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #1D1D1D;
}

.carousel-item{
    position: absolute;
    top: 50px;
    translate: middle;
}

.slide-image {
    filter: brightness(50%);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: -20px 50px 15px 50px;
}

a.btn.btn-primary.mt3 {
    margin-bottom: -50px;
}
.carousel-caption{
    margin-bottom: 190px;
}
.carousel-caption h2{
    font-size: 45px;
    margin-top: 50px;
    font-weight: bold;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 14px;
    line-height: 1.9;
    padding-top: 15px;
}

.courses-caption {
    padding-top: 50px;
}
.courses-caption h2{
    font-size: 45px;
    margin-top: 50px;
    font-weight: bold;
}
.courses-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    padding-top: 15px;
}


